.create-test-tab {
    display: flex;
    justify-content: space-between;
}
.create-test-tab li.active a {
    background: #3954a5 !important;
    border-color: #3954a5 !important;
}
.create-test-tab .bs-label {
    background: #3954a5;
}
.create-test-form .glyph-icon {
    background-color: #3954a5;
    color: #fff;
}
.client-test-checkbox-cont {
    padding: 15px;
    border: 1px solid #dfe8f1;
    height: 250px;
    overflow: auto;
}
.client-test-checkbox-cont::-webkit-scrollbar , .create-test-tab4-tbl::-webkit-scrollbar, .overflow_div::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

.client-test-checkbox-cont::-webkit-scrollbar-thumb , .create-test-tab4-tbl::-webkit-scrollbar-thumb, .overflow_div::-webkit-scrollbar
{
    background-color: #3954a5;
}
.gray-btn {
    background-color: #e5e9ed;
    color: #959ea9;
}
.create-test-select-mult[multiple], .create-test-select-mult[size] {
    height: 250px;
}
.percent {
    float: left;
    padding: 3px;
    border: 1px solid #dfe8f1;
    margin: 2px;
    color: #3954a5;
    font-weight: bold;
}
.sign-container {
    width: 25px;
    text-align: center;
}
.percent {
    float: left;
    padding: 3px;
    border: 1px solid #dfe8f1;
    margin: 2px;
    color: #3954a5;
    font-weight: bold;
}
span.bold-text {
    font-weight: bold;
}
.create-test-one-line {
    border: 1px solid #dfe8f1;
    float: left;
    width: 100%;
    margin: 3px 0;
    padding: 15px;
}
.gray-bold-text{
    color: #72808f;
}
.blue-text {
    color: #3954a5;
}
.display-blocked-table li {
    display: block;
    width: 100%;
    float: left;
}
.create-test-one-line {
    border: 1px solid #dfe8f1;
    float: left;
    width: 100%;
    margin: 3px 0 25px 0;
    padding: 15px;
}
.review-section {
    float: left;
    width: 100%;
    padding: 15px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    margin-bottom: 45px;
}
ul.section-info-list.list-inline {
    font-size: 12px;
}

p.review-subhead {
    float: left;
    padding-right: 20px;
    font-weight: bold;
    min-width: 110px;
    color: #c1c7cd;
}
.review-line {
    float: left;
    width: 100%;
    font-size: 14px;
}
.review-text {
    float: left;
    color: #000;
    font-size: 13px;
}
span.info-name {
    color: #637282;
    font-weight: bolder;
    padding-right: 15px;
}
.question-container p {
    margin-bottom: 30px;
}
span.question-num {
    color: #000;
    font-weight: bold;
    padding-right: 10px;
}
ul.answer-list.list-unstyled {
    float: left;
}
ul.answer-list.list-unstyled li {
    margin: 3px 0;
}
span.info-content {
    font-weight: bolder;
    padding: 0;
    color: #3954a5;
}
span.question-number {
    color: #3954a5;
    font-weight: bold;
    padding-right: 4px;
}
span.info-name {
    color: #637282;
    font-weight: bolder;
    padding: 0 15px;
}
.review-section:first-child {
    margin-bottom: 40px;
}
ul.section-info-list.list-inline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.review-line.underlined-div {
    padding: 15px 0;
    border-bottom: 1px solid #c0c9e2;
    /* margin-bottom: 17px; */
}
.question-container {
    float: left;
    margin-top: 40px;
}
.xchart .color0 rect:nth-child(n) {
    fill: #3954a5 !important;
}
.xchart .color0 rect:nth-child(2n) {
    fill: #65739e !important;
}

.create-test-tab4-tbl{
    width: 100%;
    height: 400px;
    overflow-y: auto;
}
.overflow_div {
    width: 100%;
    height: 600px;
    overflow-y: auto;
}

.create_test_graph{
    width: 100%;
    height: 300px;
}
.create_test_graph_cont{
    float: left;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 700px){

    .nav-tabs>li{
        width: 100% !important;
    }
    .create-test-tab {
        display: block;
    }

}
@media (max-width: 1100px){
    .list-inline > li{
        width: 100%;
    }
    ul.section-info-list.list-inline{
        display: block;
    }
    span.info-content{
        float: right !important;
    }
}