.info-dropdown{
    position: relative;
}
.without_padding{
    padding: 0 !important;
}
.div-center{
    float: none;
    margin: 0 auto;
}
#page-header #close-sidebar{
    color: rgb(57, 84, 165);
    font-size: 30px;
    right: 0;
}

#page-header #close-sidebar:hover{
    color: rgb(57, 84, 165);
}
.demo-icon-menu{
    margin: 0;
    border: 0;
}

.text-center{
    text-align: center;
}
div#page-header {
    background: #fff !important;
}
div#page-sidebar {
    background: #3954a5;
}
#page-sidebar ul li.sfHover>a.sf-with-ul{
    color: #fff !important;
}
.grey_icon{
    color: #777 !important;
}
a.sf-with-ul, .sidebar-submenu, .sidebar-submenu ul li{
    border: 0 !important;
}

#sidebar-menu li a{
    color: #fff !important;
    border:0 !important;
}
#sidebar-menu li a:hover {
    color: #008fe2 !important;
}

.copyright {
    position: absolute;
    bottom: 20px !important;
    color: white;
    width: 100%;
}
.copyright p {
    text-align: center;
}
.blue-btn{
    background-color: #3954a5;
}
#sidebar-menu li .sidebar-submenu ul li a.sfActive {
    color: #1c82e1 !important;
}
.books_title {
    margin-top: 5px;
}
.config_icons {
    margin: 0 !important;
    border: 0 !important;
    font-size: 15px;
    line-height: 25px;
}
.text-pointer{
    cursor: pointer;
}
.bsdatepicker td.active {
    background-color: #3954a5 !important;
    color: white;
}
@media only screen and (max-width: 900px)
{
    #mobile-navigation .logo-content-small{
        display: none;
    }
}

@media only screen and (max-width: 410px)
{
    #header-nav-right #logout-btn, #notifications-btn {
         display: block !important;
    }
}