.login_page_container{
    height: 100vh;
}
.center{
    float: none;
    margin: 0 auto;
}
.black{
    color: #000;
}
.without_padding{
    padding: 0 !important;
}
.cover-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grey{
    color: #ccc;
}
.image-responsive{
    width: 100%;
    height: auto;
}
.login_side_1, .login_side_2{
    width: 100%;
    height: 50vh;
}
.login_sides {
    position: absolute;
    width: 100%;
    height: 100%;
}
.login_box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 93px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 93px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 93px -8px rgba(0,0,0,0.75);
}

.login_box_container {
    position: relative;
    width: 100%;
    height: 100%;
}
img.logo_img {
    width: 250px;
    margin: 0 auto;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}

input.form-control.login_form_control {
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0px;
    box-shadow: inset 0 0px 1px rgba(0,0,0,0);
}
.password_form {
    margin-top: 45px;
}

.login_btn, .login_btn:hover {
    width: 100%;
    height: 50px;
    margin-top:30px;
    border: none;
    border-radius: 2px;
    color: #fff;
    background-color: #69C97E !important;
}

.forgot_password, .forgot_password:hover{
    color: #ccc;
    text-decoration: none;
}

.remember_me {
    height: 20px;
    margin-top: 55px;
}
input.checkbox {
    height: 20px;
    padding: 6px 12px;
    width: 20px;
    float: left;
    margin-top: 0;
}

@media (max-width: 500px) {
    .login_box{
        width: 80%;
    }

}