.border-right{
    border-right: 1px solid #ccc ;
}

.grey_title{
    color: #ccc;
    font-weight: 600;
    padding-right: 10px;
}

.question_container{
    margin-top: 30px;
}
.answers_container {
    margin-top: 15px;
}
.answers_btn_cont{
    margin-top: 50px;
}
.next_btn{
    float: right;
}

@media (max-width: 768px){
    .next_btn{
        float: left;
    }
}