span.gray_titles {
    color: #ccc;
    font-size: 16px;
    padding-right: 15px;
}

.question_chapters_cont{
    margin-top: 15px;
}
.question_static_divs {
    border: 1px solid #e0e0e0;
    padding: 5px;
    min-height: 30px;
}

.question_cont {
    margin-top: 25px;
}
select.form-control.answers-checkbox-cont {
    height: 200px;
    margin-top: 25px;
}
select.form-control.answers-checkbox-cont option {
    padding: 6px;
}
.answers-checkbox-cont::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

.answers-checkbox-cont::-webkit-scrollbar-thumb
{
    background-color: #3954a5;
}
.question_btns{
    margin-top: 35px;
}
.gray-btn {
    background-color: #e5e9ed;
    color: #959ea9;
}
@media only screen and (max-width: 460px){
    .question_static_divs{
        float: none !important;
        text-align: left !important;
    }
}

@media (max-width: 1200px){
    .media_changes_8{
        width: 100%;
        float: none !important;
        text-align: left !important;
    }
    span.gray_titles{
        float: none !important;
    }
    .question_static_divs{
        float: none !important;
        width: 100%;
    }
}