.view_tbl_border tbody tr td {
    border: 0 !important;
}
table.table.view_tbl_border tbody tr td.font-bold {
    color: #3a3232;
}
.panel-body.panel_view_tbl {
    height: 300px;
    overflow-x: auto;
}

.panel_view_tbl::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

.panel_view_tbl::-webkit-scrollbar-thumb
{
    background-color: #3954a5;
}
