table.dataTable thead th.sorting:after, table.dataTable thead th.sorting_asc:after, table.dataTable thead th.sorting_desc:after{
    left: 0 !important;
}
.data_tbl_points:hover {
    border: 1px solid #e0e0e0;
    padding: 0 10px 10px;
    border-radius: 5px;
    text-decoration: none;
}
a.config_links span {
    top: 10px;
    position: relative;
}

.add_class{
    float: right;
}

@media (max-width: 768px){
    .add_class{
        float: none;
    }
}