@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #3e4855;
    background-color: #fff;
    line-height: 1.42857143
}

label {
    color: #3e4855
}

#page-title > h2, #page-title > p, h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300
}

#page-header .user-account-btn > a.user-profile .glyph-icon, .logo-bg {
    /*background-color: rgba(255, 255, 255, .1);*/
    /*color: #fff*/
}

#page-header .user-account-btn > a.user-profile {
    color: #fff
}

#header-nav-right .dropdown > a .glyph-icon, #header-nav-right .header-btn .glyph-icon {
    color: rgba(255, 255, 255, .8)
}

#header-nav-right .dropdown > a:hover .glyph-icon, #header-nav-right .header-btn:hover .glyph-icon {
    color: rgba(255, 255, 255, .95)
}

#header-nav-right .dropdown > a, #header-nav-right .header-btn {
    border-color: rgba(255, 255, 255, .2)
}

#header-nav-right .dropdown > a:hover, #header-nav-right .header-btn:hover {
    background: rgba(255, 255, 255, .05);
    border-color: rgba(255, 255, 255, .25)
}

#page-content {
    background: #fafcfe
}

#page-sidebar ul li.header {
    color: #000
}

#page-sidebar ul li a .glyph-icon {
    color: #fff
}

#page-sidebar ul li a:hover, #page-sidebar ul li.sfHover > a.sf-with-ul {
    border-color: #fff
}

#sidebar-menu li .sidebar-submenu {
    border-color: #f6f7f8
}

#sidebar-menu li .sidebar-submenu ul li {
    border-color: #f8f9fa
}

#sidebar-menu li .sidebar-submenu ul li a.sfActive, #sidebar-menu li .sidebar-submenu ul li a:hover {
    background: #fcfdfe
}

#sidebar-menu li .sidebar-submenu ul li a.sfActive {
    color: #1c82e1
}

#page-sidebar.font-inverse ul li.header {
    color: rgba(255, 255, 255, .95)
}

#page-sidebar.font-inverse ul li.divider {
    background: rgba(255, 255, 255, .1)
}

#page-sidebar.font-inverse #sidebar-menu > li > a {
    color: rgba(255, 255, 255, .62)
}

#page-sidebar.font-inverse #sidebar-menu li a:hover, #page-sidebar.font-inverse #sidebar-menu li.sfHover > a.sf-with-ul {
    border-color: rgba(255, 255, 255, .26);
    color: rgba(255, 255, 255, .96)
}

#page-sidebar.font-inverse #sidebar-menu li .sidebar-submenu {
    border-color: rgba(255, 255, 255, .08);
    background: rgba(255, 255, 255, .05)
}

#page-sidebar.font-inverse #sidebar-menu li a {
    color: rgba(255, 255, 255, .62)
}

#page-sidebar.font-inverse #sidebar-menu li a:hover {
    color: rgba(255, 255, 255, .96)
}

#page-sidebar.font-inverse#page-sidebar ul li a .glyph-icon {
    color: rgba(255, 255, 255, .8)
}

#page-sidebar.font-inverse#page-sidebar ul li a:hover .glyph-icon {
    color: rgba(255, 255, 255, 1);
    opacity: .9;
    -moz-opacity: .9;
    filter: alpha(opacity:90)
}

#page-sidebar.font-inverse #sidebar-menu li .sidebar-submenu ul li {
    border-color: rgba(255, 255, 255, .07)
}

#page-sidebar.font-inverse #sidebar-menu li .sidebar-submenu ul li a:hover {
    background: rgba(255, 255, 255, .05)
}